<div class="container row" id="body">
  <div class="col-lg-12 col-md-12 col-sm-12 menu-list">

    <h1 class="menu-item">Drinks</h1>
    <div class="row drink-nav">
      <ul class="col-lg-12 drink-nav-list">
        <li (click)="twoLitersOpen()" class="col-lg-2 col-sm-12 drink-nav-selections sliding-middle-out">2 Liters</li>
        <li (click)="twentyOzOpen()" class="col-lg-2 col-sm-12 drink-nav-selections sliding-middle-out">20 oz</li>
      </ul>
    </div>


    <div class="row">
      <ul *ngIf="allTwoLitersOpen" [@flyInOut]="twoLitersIn" class="drink-ul">
        <li *ngFor="let item of twoLiterDrinkList" class="each-item col-lg-5 col-lg-offset-1 col-sm-12 row">
          <div class="col-lg-12">
            <div class="food-description">
              <h2>{{item.name}}
                <span class="price"> {{item.price | currency:'USD':true:'1.0-2'}}</span>
              </h2>
              <h5>{{item.description}}</h5>
            </div>
          </div>
          <div class="col-lg-12 picture">
            <img class="food-pic" src={{item.image}}>
          </div>
          <div class="order-btn col-lg-12">
            <a (click)="addToCart(item.name, item.description, item.price)">
              <button class="choiceBtn">Add to cart</button>
            </a>
            <h4 class="customize" data-toggle="modal" data-target="#fullPageModal">Customize</h4>
          </div>
          <div class="col-lg-12">
            <form class="pull-left form">
              <div class="form-group">
                <label for="sel1" class="quantity">Quantity
                  <select class="form-control" id="sel1" (change)="selectChangeHandler($event)">
                    <option *ngFor="let number of quantitySelect; let i = index" [ngValue]=" " (click)="clickDrop(i)">{{number.num}}</option>
                  </select>
                </label>
              </div>
            </form>
          </div>
        </li>
      </ul>

      <ul *ngIf="allTwentyOzOpen" [@flyInOut]="twentyOzIn" class="drink-ul">
        <li *ngFor="let item of twentyOzDrinkList" class="each-item col-lg-5 col-lg-offset-1 col-sm-12 row">
          <div class="col-lg-12">
            <div class="food-description">
              <h2>{{item.name}}
                <span class="price"> {{item.price | currency:'USD':true:'1.0-2'}}</span>
              </h2>
              <h5>{{item.description}}</h5>
            </div>
          </div>
          <div class="col-lg-12 picture">
            <img class="food-pic" src={{item.image}}>
          </div>
          <div class="order-btn col-lg-12">
            <a (click)="addToCart(item.name, item.description, item.price)">
              <button class="choiceBtn">Add to cart</button>
            </a>
            <h4 class="customize" data-toggle="modal" data-target="#fullPageModal">Customize</h4>
          </div>
          <div class="col-lg-12">
            <form class="pull-left form">
              <div class="form-group">
                <label for="sel1" class="quantity">Quantity
                  <select class="form-control" id="sel1" (change)="selectChangeHandler($event)">
                    <option *ngFor="let number of quantitySelect; let i = index" [ngValue]=" " (click)="clickDrop(i)">{{number.num}}</option>
                  </select>
                </label>
              </div>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
