<footer>
  <div class="footer">
    Copyright ©1994- 2017 United Parcel Service of America, Inc. All rights reserved.
    <div class="row">
      <div class="social-media col-lg-2 col-lg-offset-4">
        <a href="https://www.facebook.com/ups/">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/ups?lang=en">
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a>
        <a href="https://www.youtube.com/user/ups">
          <i class="fa fa-youtube" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/company-beta/1523/">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
      </div>
      <div class="payment col-lg-2">
        <i class="fa fa-cc-visa" aria-hidden="true"></i>
        <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
        <i class="fa fa-cc-paypal" aria-hidden="true"></i>
        <i class="fa fa-cc-amex" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</footer>
