.header-container {
  position: relative;
}

.jumbotron {
  background-color: white;
}

img {
  /*-webkit-filter: brightness(.5);*/
  /*filter: brightness(.6);*/
  height: 100%;
  width: 100%;
}

.show {
  background-color: rgba(49, 22, 22, 0.85);

}

.transition {
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.header-change {
  opacity: 0;
  height: 0;
  width: 0;
}


.carousel {
  position: relative;
  padding-top: 25px;
  margin: 0 auto;
}

