<div class="modal fade col-lg-12" id="exampleModalLong" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
  <modal-pizza></modal-pizza>
</div>

<div id="header col-lg-12 col-lg-offset-1 ">
  <app-header></app-header>
</div>

<div class="container row transition" id="body">
  <div class="choice col-lg-10 col-lg-offset-1 col-md-offset-1" id="custom">
    <h2 class="description">Create Your Own<br>
      <a routerLink="">
        <button class="choiceBtn" data-toggle="modal" data-target="#exampleModalLong">Get started</button>
      </a>
    </h2>
  </div>

  <!--<div class="choice col-lg-5 col-md-6 col-sm-12 col-lg-offset-1 col-md-offset-1" id="pizza">-->
  <div class="choice col-lg-2 col-md-6 col-sm-12 col-lg-offset-1 col-md-offset-1" id="pizza">
    <h2 class="description">Pizza<br>
      <a (click)="scrollWin()" routerLink="pizza">
        <button class="choiceBtn">Get started</button>
      </a>
    </h2>
  </div>

  <!--<div class="choice col-lg-5 col-md-6 col-sm-12" id="lunch">-->
  <div class="choice col-lg-2 col-md-6 col-sm-12" id="lunch">
    <h2 class="description">Salads<br>
      <a (click)="scrollWin()" routerLink="salads">
        <button class="choiceBtn">Get started</button>
      </a>
    </h2>
  </div>

  <!--<div class="choice col-lg-4 col-md-4 col-sm-4 col-lg-offset-1 col-md-offset-1" id="sides">-->
  <div class="choice col-lg-2 col-md-4 col-sm-4" id="sides">
    <h2 class="description">Sides<br>
      <a (click)="scrollWin()" routerLink="sides">
        <button class="choiceBtn">Get started</button>
      </a>
    </h2>
  </div>

  <!--<div class="choice col-lg-3 col-md-4 col-sm-4" id="drinks">-->
  <div class="choice col-lg-2 col-md-4 col-sm-4" id="drinks">
    <h2 class="description">Drinks<br>
      <a (click)="scrollWin()" routerLink="drink-menu">
        <button class="choiceBtn">Get started</button>
      </a>
    </h2>
  </div>

  <!--<div class="choice col-lg-3 col-md-4 col-sm-4" id="sauces">-->
  <div class="choice col-lg-2 col-md-4 col-sm-4" id="sauces">
    <h2 class="description">Sauces<br>
      <a (click)="scrollWin()" routerLink="sauces">
        <button class="choiceBtn">Get started</button>
      </a>
    </h2>
  </div>
</div>

<!--<button type="button" class="choiceBtn btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" (click)="onClick()" >Get started</button>-->

<!--<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">-->
<!--<div class="modal-dialog modal-sm" role="document">-->
<!--<div class="modal-content">-->
<!--Order Success!-->
<!--<user-registration></user-registration>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
