<!--side navigation-->
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeSideNav()">&times;</a>
  <a class="pages" routerLink="pizza" (click)="closeSideNav()">
    <h4 class="side-nav-choice">Pizza</h4>
  </a>
  <a class="pages" routerLink="salads" (click)="closeSideNav()">
    <h4 class="side-nav-choice">Salads</h4>
  </a>
<!--  <a class="pages" routerLink="sides" (click)="closeSideNav()">-->
<!--    <h4 class="side-nav-choice">Sides</h4>-->
<!--  </a>-->
  <a class="pages" routerLink="drink-menu" (click)="closeSideNav()">
    <h4 class="side-nav-choice">Drinks</h4>
  </a>
<!--  <a class="pages" routerLink="sauces" (click)="closeSideNav()">-->
<!--    <h4 class="side-nav-choice">Sauces</h4>-->
<!--  </a>-->
  <a class="pages" (click)="showDialog = !showDialog" (click)="closeSideNav()">
    <h4 class="side-nav-choice">Login</h4>
  </a>
  <a class="pages" routerLink="cart-page" (click)="closeSideNav()">
    <h4 class="side-nav-choice">Cart</h4>
  </a>
</div>

<!--navigation-->
<div id="nav" class="sticky-top row">
  <!--routerLink="kitchen-side-view" src="../assets/slice3.png"-->
  <div class="logo-container logo col-lg-1 col-md-1 col-sm-12 col-xs-12">
    <div class="col-md-6 col-sm-6 col-xs-6">
      <img (click)="scrollWindow()" id="logo"
           routerLink="home-page" src="../assets/logo.svg">
    </div>

    <div class="col-sm-6 col-xs-6 hidden-lg hidden-md hidden-sm">
      <i (click)="openSideNav()" class="fa fa-bars pull-right" aria-hidden="true"></i>
    </div>
  </div>

  <div class="list col-lg-7 col-md-7 hidden-xs">
    <ul id="navList" class="transition">
      <li class="nav-item">
        <a class="active-page pages" routerLink="pizza" (click)="scrollWindow()">
          <h4>Pizza</h4>
        </a>
      </li>
      <li class="nav-item">
        <a class="pages" routerLink="salads" (click)="scrollWindow()">
          <h4>Salads</h4>
        </a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="pages" routerLink="sides" (click)="scrollWindow()">-->
<!--          <h4>Sides</h4>-->
<!--        </a>-->
<!--      </li>-->
      <li class="nav-item">
        <a class="pages" routerLink="drink-menu" (click)="scrollWindow()">
          <h4>Drinks</h4>
        </a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="pages" routerLink="sauces" (click)="scrollWindow()">-->
<!--          <h4>Sauces</h4>-->
<!--        </a>-->
<!--      </li>-->
    </ul>
  </div>

  <div class="user-cart col-lg-4 col-md-4 hidden-xs">

    <div class="hidden-xs-down user-cart-i col-lg-6 col-md-6 col-sm-6" (click)="showDialog = !showDialog">
      <i class="fa fa-user-o pull-right" aria-hidden="true"></i>
    </div>
    <div class="hidden-xs-down user-cart-i col-lg-6 col-md-6 col-sm-6">
      <i (click)="scrollWindow()" class="fa fa-shopping-cart pull-right" aria-hidden="true" routerLink="cart-page">
        <h6 *ngIf="cartTotal > 0" class="cart-total"><b>{{cartTotal}}</b></h6>
      </i>
    </div>

  </div>

</div>

<app-dialog [(visible)]="showDialog"></app-dialog>
