.container {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  padding: 50px  50px 50px 50px;
}

.menu-list {
  position: relative;
}

.cart-page {
  overflow: auto;
  position: relative;
}

.cart {
  position: relative;
}

#cart {
  font-family: 'Lobster', cursive;
  border-bottom: 1px solid black;
}

.body-up {
  position: relative;
  top: 75px;
}

.picture {
  text-align: center;
  padding-bottom: 5px;
}

.food-pic {
  border-radius: 70px;
  position: relative;
  bottom: 3px;
  height: 125px;
}

.menu-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.58);
  font-family: 'Lobster', cursive;
  font-size: 50px;
}

ul {
  list-style: none;
  padding: 50px;
  margin: 0 auto;
  position: relative;
  left: 90px;
}

.each-item {
  font-family: 'Saira Condensed', sans-serif;
  color: black;
  display: flex;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.45);
  border-radius: 4px;
  position: relative;
  margin: 10px;
  height: 425px;
  transition: all .2s ease-in-out;
}

.each-item:hover {
  box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.45);
  transform: scale(1.02);
}

.food-description {
  position: relative;
  top: -12px;
  text-align: center;
}

.food-description h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.28);
}

.add-to-cart {
  background-color: transparent;
  border: transparent;
}

.fa-plus-circle {
  color: green;
  font-size: 18px;
  width: 0;
  position: relative;
  top: 8px;
  left: 10px;
}

.cart-list {
  position: relative;
  width: 100%;
}

.cart-items {
  position: relative;
  margin: 0 auto;
  float: left;
  width: 100%;
}

.total-price {
  position: relative;
  bottom: 45px;
}

@media screen and (max-width: 1000px) {
  ul {
    left: 0;
  }
}

@media screen and (max-width: 550px) {
  .each-item {
    width: 360px;
    margin: 10px auto;
  }

  ul {
    position: relative;
    left: -15px;
  }

  /*.each-item:hover {*/
    /*box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.45);*/
    /*transform: scale(1.06);*/
    /*background-color: white;*/
    /*z-index: 1;*/
    /*margin-right: 0;*/
    /*margin-left: 0;*/
  /*}*/
}

@media screen and (max-width: 470px) {
  ul {
    position: relative;
    left: -35px;
  }
}

@media screen and (max-width: 430px) {
  ul {
    position: relative;
    left: -85px;
  }
}

.fa-times {
  position: relative;
  top: 10px;
}

.cart-stick {
  top: -30px;
  left: 50%;
  z-index: 100;
  position: fixed;
  overflow: auto;
  max-height: 515px;
  width: 580px;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.choiceBtn {
  background-color: #ff9700;
  border-radius: 4px;
  border: 1px solid #fcb004;
  font-size: 24px;
  width: 60%;
  height: 45px;
  position: relative;
  color: white;
  font-family: 'Advent Pro', sans-serif;
  alignment: center;
  transition: all .2s ease-in-out;
}

.choiceBtn:hover {
  background-color: white;
  color: #fcb004;
}

@media screen and (max-width: 1000px) {
  .choiceBtn {
    width: 100%;
  }
}
/*.each-item:hover .choiceBtn {*/
  /*width: 60%;*/
/*}*/

.order-btn {
  text-align: center;
}

.price {
  font-size: 15px;
  padding-left: 20px;
}
