<div class="modal-dialog" role="document">
  <div class="modal-body">

    <!--size-->
    <div class="row">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row">
      <div class="col-lg-12 size">
        <h1>Size</h1>
        <ul id="sizing-choice" class="radio-ul">
          <li class="col-lg-12 radio-li">
            <input class="radio-input" type="radio" id="l-option" name="size-selector" checked>
            <label for="l-option">Large 18"</label>
            <div class="check"></div>
          </li>
          <li class="col-lg-12 radio-li">
            <input type="radio" id="m-option" name="size-selector">
            <label for="m-option">Medium 16"</label>
            <div class="check"></div>
          </li>
          <li class="col-lg-12 radio-li">
            <input type="radio" id="s-option" name="size-selector">
            <label for="s-option">Small 14"</label>
            <div class="check"></div>
          </li>
        </ul>
      </div>
    </div>

    <!--crust-->
    <div class="row">
      <div class="col-lg-12 crust">
        <h1>Crust</h1>
        <ul id="crust-choice" class="radio-ul">
          <li class="col-lg-12 radio-li">
            <input type="radio" id="ht-option" name="crust-selector" checked>
            <label for="ht-option">Hand Tossed</label>
            <div class="check"></div>
          </li>
          <li class="col-lg-12 radio-li">
            <input type="radio" id="tc-option" name="crust-selector">
            <label for="tc-option">Thin Crust</label>
            <div class="check"></div>
          </li>
          <li class="col-lg-12 radio-li">
            <input type="radio" id="p-option" name="crust-selector">
            <label for="p-option">Pan</label>
            <div class="check"></div>
          </li>
        </ul>
      </div>
    </div>

    <!--sauce-->
    <div class="row">
      <div class="col-lg-12 sauce">
        <h1>Base Sauce</h1>
        <ul id="sauce" class="radio-ul">
          <li class="col-lg-12 radio-li">
            <input type="radio" id="ori-option" name="sauce-selector" checked>
            <label for="ori-option">Marinara</label>
            <div class="check"></div>
          </li>
          <li class="col-lg-12 radio-li">
            <input type="radio" id="olive-option" name="sauce-selector">
            <label for="olive-option">Olive Oil</label>
            <div class="check"></div>
          </li>
          <li class="col-lg-12 radio-li">
            <input type="radio" id="bbq-option" name="sauce-selector">
            <label for="bbq-option">BBQ</label>
            <div class="check"></div>
          </li>
          <li class="col-lg-12 radio-li">
            <input type="radio" id="buffalo-option" name="sauce-selector">
            <label for="buffalo-option">Buffalo</label>
            <div class="check"></div>
          </li>
        </ul>
      </div>
    </div>

    <!--veggies-->
    <div class="row">
      <div class="col-lg 12 veggies">
        <h1>Veggies</h1>
        <div class="multiSelect">
          <label class="col-lg-12"><input type="checkbox" name="option[]" value="1"/> Mushroom</label>
          <label class="col-lg-12"><input type="checkbox" name="option[]" value="2"/> Spinach</label>
          <label class="col-lg-12"><input type="checkbox" name="option[]" value="3"/> Red Onion</label>
          <label class="col-lg-12"><input type="checkbox" name="option[]" value="4"/> Black Olive</label>
          <label class="col-lg-12"><input type="checkbox" name="option[]" value="5"/> Green Bell Pepper</label>
          <label class="col-lg-12"><input type="checkbox" name="option[]" value="6"/> Banana Pepper</label>
          <label class="col-lg-12"><input type="checkbox" name="option[]" value="7"/> Pineapple</label>
          <label class="col-lg-12"><input type="checkbox" name="option[]" value="7"/> Jalapeno</label>
          <label class="col-lg-12"><input type="checkbox" name="option[]" value="7"/> Tomato</label>
        </div>
      </div>
    </div>

    <!--meats-->
    <div class="row">
      <div class="col-lg 12 meats">
        <h1>Meats</h1>
        <div class="multiSelect">
          <label class="col-lg-12"><input type="checkbox" name="option[]" value="1"/> Pepperoni</label>
          <label class="col-lg-12"><input type="checkbox" name="option[]" value="2"/> Italian Sausage</label>
          <label class="col-lg-12"><input type="checkbox" name="option[]" value="3"/> Salami</label>
          <label class="col-lg-12"><input type="checkbox" name="option[]" value="4"/> Meatball</label>
          <label class="col-lg-12"><input type="checkbox" name="option[]" value="5"/> Ham</label>
          <label class="col-lg-12"><input type="checkbox" name="option[]" value="6"/> Grilled Chicken</label>
          <label class="col-lg-12"><input type="checkbox" name="option[]" value="7"/> Beef</label>
          <label class="col-lg-12"><input type="checkbox" name="option[]" value="7"/> Canadian Bacon</label>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Cancel</button>
    <button type="button" class="btn btn-primary">Add to Cart</button>
  </div>
</div>
