<div class="container row" id="body">
  <div class="col-lg-6 col-md-6 col-sm-6 menu-list">

    <h1 class="menu-item">Classics</h1>
    <ul>
      <li *ngFor="let item of classicList" class="each-item row">
        <img class="food-pic" src={{item.image}}>
        <div class="food-description col-lg-8 col-sm-12">
          <h3>{{item.name}}</h3>
          <h5>{{item.description}}</h5>
          <h5>${{item.price}}<i class="fa fa-plus-circle pull-right col-lg-2 col-sm-2"
                                (click)="addToCart(item.name, item.price)" aria-hidden="true"></i></h5>
        </div>
      </li>
    </ul>

    <h1 class="menu-item">Pancakes</h1>
    <ul>
      <li *ngFor="let item of pancakeList" class="each-item row">
        <img class="food-pic" src={{item.image}}>
        <div class="food-description col-lg-8 col-sm-12">
          <h3>{{item.name}}</h3>
          <h5>{{item.description}}</h5>
          <h5>${{item.price}}<i class="fa fa-plus-circle pull-right col-lg-2 col-sm-2"
                                (click)="addToCart(item.name, item.price)" aria-hidden="true"></i></h5>
        </div>
      </li>
    </ul>

    <h1 class="menu-item">Omeletes</h1>
    <ul>
      <li *ngFor="let item of omeleteList" class="each-item row">
        <img class="food-pic" src={{item.image}}>
        <div class="food-description col-lg-8 col-sm-12">
          <h3>{{item.name}}</h3>
          <h5>{{item.description}}</h5>
          <h5>${{item.price}}<i class="fa fa-plus-circle pull-right col-lg-2 col-sm-2"
                                (click)="addToCart(item.name, item.price)" aria-hidden="true"></i></h5>
        </div>
      </li>
    </ul>
  </div>

  <cart-page id="cartID" class="checkout-side-box cart col-lg-6 col-md-6 col-sm-6 hidden-xs-down"></cart-page>
</div>
