<div class="container" id="body">
  <div class="checkout col-lg-12" id="cartID">
    <h1 id="cart">Cart</h1>
    <!--<h5 class="total-price pull-right">Total: ${{totalPrice}}</h5>-->
    <ul class="cart-list">
      <li *ngFor="let item of cartItems" class="cart-items row">
        <h4 class="pull-left col-lg-8 col-md-6">{{item.name}}</h4>
        <div class="col-sm-4">
          <h5 class="">${{item.price}}</h5>
          <i (click)="removeFromCart(item.id)" class="fa fa-times pull-right" aria-hidden="true"></i>
        </div>
      </li>
      <br>
    </ul>
  </div>

  <div class="total row">
    <h2 class="col-12">Total: ${{totalCost}}</h2>
    <div class="col-12">
      <button type="button" (click)="purchase()" class="purchase-btn col-6">Order</button>
    </div>
  </div>
</div>

