<div class="container" id="body">
  <div class="checkout col-lg-12" id="cartID">
    <h1 id="cart">Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></h1>
    <h4 class="empty" *ngIf="empty" [@shrinkOut]="cartEmptyTxt">Cart is empty</h4>
    <!--<h5 class="total-price pull-right">Total: ${{totalPrice}}</h5>-->
    <ul class="cart-list">
      <li [@flyInOut]="cartAnimate" *ngFor="let item of cartItems" class="cart-items row">
        <h4 class="pull-left col-lg-8 col-md-6">{{item.name}}</h4>
        <div class="col-sm-4">
          <h5 class="">${{item.price}}</h5>
          <i (click)="removeFromCart(item.id)" class="fa fa-times pull-right" aria-hidden="true"></i>
        </div>
      </li>
      <br>
    </ul>
  </div>

  <div class="total row">
    <h5 class="col-12" *ngIf="!empty">Sub Total: {{subTotal | currency:'USD':true:'1.0-2'}}</h5>
    <h5 class="col-12" *ngIf="!empty">Tax: {{tax | currency:'USD':true:'1.0-2'}}</h5>
    <!--<h2 class="col-12 total-cost">Total: {{total | currency:'USD':true:'1.0-2'}}-->
    <h2 class="col-12 total-cost" *ngIf="!empty">Total: $
      <form #form class="form-inline" name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="UPS Eats">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="item_name" value="Paypal demo charge">
        <input name="item_number" type="hidden" value="0001"/>
        <input type="text"  class="form-control" size="30"  name="amount" [(ngModel)]="payPal"/>
        <input type="hidden" name="return" value="http://localhost:4200/cart-page/">
        <input type="hidden" name="cancel_return" value="http://localhost:4200/cart-page"/>
        <input type="hidden" name="custom" value={{title}}>
        <!--pass your notification URL-->
        <input name="notify_url" value="YOUR NOTIFICATION URL" type="hidden">
      </form>
    </h2>
    <div class="col-12 order-btn">
      <button *ngIf="!empty" type="button" (click)="form.submit()" src="https://www.paypal.com/en_US/i/btn/btn_buynow_LG.gif"
              border="0"
              name="submit" class="purchase-btn col-6"><i class="fa fa-paypal" aria-hidden="true"></i> Order
      </button>
    </div>


  </div>
</div>

