.footer {
  position: relative;
  text-align: center;
  margin-top: 50px;
  background-color: #351C15;
  color: white;
  font-family: 'Advent Pro', sans-serif;
}

.payment {
  font-size: 25px;
}

.social-media{
  font-size: 30px;
}

a {
  color: white;
}
