<div class="container row transition" id="body">
  <!--<div class="menus col-lg-12">-->
    <!--<img class="menu-img col-lg-12" [src]="menuHeader">-->
    <!--<h1 class="" id="menu-words">Menu Choices</h1>-->
  <!--</div>-->

  <div class="choice col-lg-4 col-md-4 col-sm-12 col-xs-12" id="breakfast">
    <h2 class="description">Breakfast<br>
      <button type="button" class="choiceBtn btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" (click)="onClick()" >Get started</button>
    </h2>
  </div>

  <div class="choice col-lg-4 col-md-4 col-sm-12 col-xs-12" id="lunch">
    <h2 class="description">Lunch<br>
      <a routerLink="lunch-menu"><button class="choiceBtn">Get started</button></a>
    </h2>
  </div>

  <div class="choice col-lg-4 col-md-4 col-sm-12 col-xs-12" id="drinks">
    <h2 class="description">Drinks<br>
      <button class="choiceBtn">Get started</button>
    </h2>
  </div>

  <!--<lunch-menu></lunch-menu>-->
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      Order Success!
    </div>
  </div>
</div>
