<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active" (click)="switchToLogin()">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Login
  </label>
  <label class="btn btn-primary" (click)="switchToRegister()">
    <input type="radio" name="options" id="option2" autocomplete="off"> Register
  </label>
</div>
<div *ngIf="registerScreen === true">
  <h3>Let's sign you up!</h3>
  <div class="register-container">
    <div class="wrap">
      <form action="#" method="post">

        <!--<li class="text">First Name</li>-->
        <input class="inputs" name="first-name" type="text" required="" placeholder="First name">
        <!--<li><input name="name" type="text" required=""></li>-->

        <!--<li class="text">Last Name</li>-->
        <input class="inputs" name="last-name" type="text" required="" placeholder="Last name">

        <!--<li class="text">E-mail</li>-->
        <input class="inputs" name="E-mail" type="text" required="" placeholder="E-mail">

        <!--<li class="text">Username</li>-->
        <input class="inputs" name="username" type="text" required="" placeholder="Username">

        <!--<li class="text">Password</li>-->
        <input class="inputs" name="password" type="text" required="" placeholder="Password">

        <!--<li class="text">Role</li>-->
        <input class="inputs" name="role" type="text" required="" placeholder="Role">

        <!--<ul>-->
        <!--&lt;!&ndash;<li class="text">First Name</li>&ndash;&gt;-->
        <!--<input class="inputs" name="first-name" type="text" required="" placeholder="First name">-->
        <!--&lt;!&ndash;<li><input name="name" type="text" required=""></li>&ndash;&gt;-->
        <!--</ul>-->
        <!--<ul>-->
        <!--&lt;!&ndash;<li class="text">Last Name</li>&ndash;&gt;-->
        <!--<input class="inputs" name="last-name" type="text" required="" placeholder="Last name">-->
        <!--</ul>-->
        <!--<ul>-->
        <!--&lt;!&ndash;<li class="text">E-mail</li>&ndash;&gt;-->
        <!--<input class="inputs" name="E-mail" type="text" required="" placeholder="E-mail">-->
        <!--</ul>-->
        <!--<ul>-->
        <!--&lt;!&ndash;<li class="text">Username</li>&ndash;&gt;-->
        <!--<input class="inputs" name="username" type="text" required="" placeholder="Username">-->
        <!--</ul>-->
        <!--<ul>-->
        <!--&lt;!&ndash;<li class="text">Password</li>&ndash;&gt;-->
        <!--<input class="inputs" name="password" type="text" required="" placeholder="Password">-->
        <!--</ul>-->
        <!--<ul>-->
        <!--&lt;!&ndash;<li class="text">Role</li>&ndash;&gt;-->
        <!--<input class="inputs" name="role" type="text" required="" placeholder="Role">-->
        <!--</ul>-->
        <div class="clear"></div>
        <div class="agile-submit">
          <input class="submit-clr-btn" type="submit" value="submit">
          <input class="submit-clr-btn" type="reset" value="reset">
        </div>
      </form>
    </div>
  </div>
</div>


<div *ngIf="loginScreen">
  <h3>Welcome back</h3>
  <div class="register-container">
    <div class="wrap">
      <form action="#" method="post">
        <input class="inputs" name="username" type="text" required="" placeholder="Username">
        <input class="inputs" name="password" type="text" required="" placeholder="Password">
        <div class="agile-submit">
          <input class="submit-clr-btn" type="submit" value="Sign in">
        </div>
      </form>
    </div>
  </div>
</div>
